<div class="navlogo">
  <%= image_tag ("cash-payment.png"), class: 'logo' %>
<% if user_signed_in? %>
  <nav>

    <div class="navbar-items">
     <%= link_to "<", :back, class: "link-back" %>

      <%= button_to "Log-out", destroy_user_session_path, method: :delete, class: "logout-button" %>
      <p><%= link_to "Account", edit_user_registration_path, class: "navbar-list-item" %></p>
      <p class="navbar-list-item">Current user: <%= current_user.name %></p>
    </div>
  </nav>
<% else %>
  <nav>
    
    <%= link_to "Log-in", new_user_session_path, class: "navbar-list-item" %><br />

    <%= link_to "Sign-up", new_user_registration_path, class: "navbar-list-item" %><br />

  </nav>
<% end %>
</div>