<!DOCTYPE html>
<html>
  <head>
    <title>MyBudget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
 
 <section class="border">


<% if user_signed_in? %>

  <%= render "layouts/navbar" %>

<% else %>

  <div class="navlogo">
    <%= image_tag ("cash-payment.png"), class: 'logo' %>
  </div>

<% end %>


 <body>
    <%= yield %>
  </body>

<% if user_signed_in? %>
 

<% else %>

<nav class="nav-initial">
  <div><%= link_to "Log-in", new_user_session_path, class: "navbar-list-item-initial" %></div><br />
  <div><%= link_to "Sign-up", new_user_registration_path, class: "navbar-list-item-initial" %></div><br />
</nav>

<% end %>

  <footer>
      <h2>PayFocus &copy;</h2>
      <h4>Developed by Dario Alessio</h4>
  </footer>

</section>
</html>
