<!DOCTYPE html>
<html>
  <head>
    <title>MyBudget</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<%= button_to "Log out", destroy_user_session_path, method: :delete %>


<p class="navbar-list-item">Current user: <%= current_user.name if user_signed_in? %></p>
 

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

<footer>
      <h5>PayFocus &copy;</h5>
      <p>Developed by Dario Alessio</p>
    </footer>


</html>
